.header {
    position: relative;
    margin: 0 0 30px;

    .headerLogo {
        position: absolute;
        width: 90px;
    }

    .headerTitle {
        position: absolute;
        top: 25%;
        left: 50px;
        font-family: sans-serif;
        color: gold;
        text-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
        font-size: 30px;
    }
}