.modalRules {
    position: absolute;
    //transform: translateY(-80%);
    top: -310px;
    left: -55px;
    background: #fafafa;
    width: 424px;
    padding: 6px;
    border-radius: 7.5px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.4) inset;

    .rulesContent {

        .close {
            display: flex;
            justify-content: flex-end;
            font-size: 22px;
            font-weight: bold;
            cursor: pointer;
        }

        h2 {
            font-family: "Quantico", sans-serif;
            text-align-last: center;
            margin: 0;
        }

        ul {
            list-style: none;
            padding: 0 40px;
        }
    }
}